#box2{
width:100%;
height:580px;
}
#top{
margin:0;
padding:0;
float:left;
height:80%;
width:100%;
}
#topleft{
float:left;
width:10%;
height:100%;
}
#topcenter{
float:left;
width:80%;
height:100%;
}
#tcl{
	width:15%;
    height:100%;
    float:left;
}
#tcc{
	width:70%;
    height:100%;
     float:left;
}
#tcct{
	height:20%;
	width:100%;
	float:left;
}
#tccc{
	height:60%;
	width:100%;
	float:left;
}
#tccb{
	height:20%;
	width:100%;
	float:left;
	 background:black;
	 color:#00ff00;
	 font-size:30px;
}
#tcr{
	width:15%;
    height:100%;
     float:left;
}
#tright{
float:left;
width:10%;
height:100%;
}
#bot{
float:left;
height:20%;
width:100%;
}
#botleft{
float:left;
width:10%;
height:100%;
background:green;
}
#botcenter{
float:left;
width:80%;
height:100%;
}
#botright{
float:left;
width:10%;
height:100%;
background:green;
}
#lul{
width:100%;
height:100%;
}
#lli2{
width:70%;
height:10%;
float:left;
background:white;
 transition: all .2s;
 text-align:center;
}
#lli1{
width:70%;
height:10%;
float:left;
background:black;
 transition: all .2s;
color:white;
 text-align:center;
}

#lli1:hover {
    width:100%;
     text-align: center;
    font-size: 10px;
}
#lli2:hover {
    width:100%;
     text-align: center;
    font-size: 10px;
}
#rul{
width:100%;
height:100%;
}
#rli2{
width:70%;
height:10%;
float:right;
background:white;
 transition: all .2s;
 text-align:center;
}
#rli1{
width:70%;
height:10%;
float:right;
background:black;
 transition: all .2s;
color:white;
 text-align:center;
}

#rli1:hover {
    width:100%;
     text-align: center;
  font-size: 10px;
}
#rli2:hover {
    width:100%;
     text-align: center;
   font-size: 10px;
}
#bcul{
width:100%;
height:100%;
}
#bcli1{
width:5%;
height:70%;
float:left;
background:white;
 transition: all .2s;
 text-align:center;
}
#bcli2{
width:5%;
height:70%;
float:left;
background:black;
 transition: all .2s;
 text-align:center;
 color:white;
}
#bcli1:hover {
    height:100%;
     text-align: center;
   font-size: 10px;
}
#bcli2:hover {
    height:100%;
     text-align: center;
   font-size: 10px;
}
#tclul{
width:100%;
height:100%;
}
#tclli1{
width:70%;
height:10%;
float:right;
background:white;
 transition: all .2s;
 text-align:center;
}
#tclli2{
width:70%;
height:10%;
float:left;
background:black;
 transition: all .2s;
 text-align:center;
 color:white;
}
#tclli1:hover {
    width:100%;
     text-align: center;
 font-size: 10px;
}
#tclli2:hover {
    width:100%;
     text-align: center;
   font-size: 10px;
}
#tcrul{
width:100%;
height:100%;
}
#tcri1{
width:70%;
height:10%;
float:left;
background:white;
 transition: all .2s;
 text-align:center;
}
#tcri2{
width:70%;
height:10%;
float:right;
background:black;
 transition: all .2s;
 text-align:center;
 color:white;
}
#tcri1:hover {
    width:100%;
     text-align: center;
    font-size: 10px;
}
#tcri2:hover {
    width:100%;
     text-align: center;
   font-size: 10px;
}

#tcctul{
width:100%;
height:100%;
}
#tcctli1{
width:7.142%;
height:50%;
float:left;
background:white;
 transition: all .2s;
 text-align:center;
}
#tcctli2{
width:7.142%;
height:50%;
float:left;
background:black;
 transition: all .2s;
 text-align:center;
 color:white;
}
#tcctli1:hover {
    height:100%;
     text-align: center;
   font-size: 10px;
}
#tcctli2:hover {
    height:100%;
     text-align: center;
    font-size: 15px;
}
li{
	font-size:8px;

	}